<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% if pages[pageId]['pageInfo']['description'] %}{{ pages[pageId]['pageInfo']['description'] }}{% endif %}">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.jpg">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.jpg">
    <link rel="canonical" href="{{ globals.httpUrl }}{{ pages[pageId]['pageInfo']['canonicalUrl'] }}">
    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="preload" href="/fonts/fontawesome-webfont.woff2?v=4.7.0">
    <title>{% if pages[pageId]['pageInfo']['title'] %}{{ pages[pageId]['pageInfo']['title'] }} - {% endif %}{{ globals.siteName }}</title>
</head>
<body>
<div class="container-fluid px-0 d-flex flex-column min-vh-100">
    <div id="top"></div>
    {% block navigation %}
        {% include 'html/common/header.html' %}
    {% endblock %}

    <main role="main" class="container bg-white overflow-hidden flex-grow-1 flex-shrink-0 py-3{% if pages[pageId]['pageInfo']['contentClass'] %} {{ pages[pageId]['pageInfo']['contentClass'] }}{% endif %}">
    {% block content %}

    {% endblock %}
    </main>

    <footer>
        {% block footer %}
        {% endblock %}
        {% include 'html/common/footer.html' %}
    </footer>
    <a href="#top" class="bg-dark position-fixed tap-icon text-white scroll-top" title="В начало страницы"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
</div>
<script src="/js/main.js"></script>
{% block scripts %}
    <!-- custom page scripts can be places here -->
{% endblock %}
</body>
</html>
