{% set pageId = 'index' %}
{% extends 'html/templates/layout.main.html' %}

{% block content %}
<!--// Index Page Content: start -->
<div class="row">
     {% from 'html/templates/common/page.blocks.html' import page_blocks %}
     {{ page_blocks(pages[pageId]["pageData"]) }}
</div>
<!--// Index Page Content: end -->
{% endblock %}
{% block footer %}
<!--// Index Footer: start -->
     <div class="container">
          {% include "html/common/footer/map.html" %}
          <hr class="bg-white">
     </div>
<!--// Index Footer: end -->
{% endblock %}
{% block scripts %}
     <script>
          function initResponsiveMap(element) {
               let map_container = element.closest('.responsive-map');
               if (map_container) {
                    map_container.classList.remove('d-none');
               }
          }
     </script>
{% endblock %}